.main {
  background-color: rgb(117, 105, 106);
}

.header {
  height: 15vh;
}

.home {
  height: 80vh;
  overflow: auto;
  background-color: gray;
}

.footer {
  height: 5vh;
  background-color: white;
}

.Paper {
  height: 20vh;
}
